html, body{
	font-family: 'Roboto', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
    background: url(a1.jpg) no-repeat 0px 0px;
	background-size:cover;
}
.phpkida-main h2 {
	color: #65f0ea;
    font-size: 29px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 15px;
	    text-align: center;
}
.phpkida-main {
    width: 30%;
    margin:5em auto;
    background: rgb(18, 84, 181);
    padding: 42px 35px;
}

input.ggg{
    width: 100%;
    padding: 15px 0px 15px 15px;
    border: 1px solid #fff;
    outline: none;
    font-size: 14px;
    color: #fff;
    margin: 14px 0px;
	background: none;
}
.phpkida-main span {
    font-size: 16px;
    color: #fff;
    float: left;
    width: 50%;
	margin-top: 8px;
}
.span-right {
	text-align:right;
}
.phpkida-main a {
    color: #fff;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
.phpkida-main a:hover{
	color: #65f0ea;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
.phpkida-main input[type="submit"] {
    padding: 12px 38px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #65f0ea;
    color: white;
    border: none;
    outline: none;
	display: table;
    cursor: pointer;
    margin: 45px auto 31px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.phpkida-main input[type="submit"]:hover {
	background: #1f338b;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
.phpkida-main p a {
    color: #65f0ea;
    padding: 10px;
}
.phpkida-main p a:hover {
    color: #fff;
}
.phpkida-main p {
    font-size: 17px;
    color: #fff;
	text-align: center;
}
/*--//login--*/
h4 input[type="checkbox"] {
    margin-right: 10px;
}
.phpkida-main h4{
    margin-right: 10px;
	color:#fff;
	font-weight:400;
	font-size:14px;
}
 /*--placeholder-color--*/
::-webkit-input-placeholder {
	color:#fff !important;
}
:-moz-placeholder { /* Firefox 18- */
	color:#fff !important; 
}
::-moz-placeholder {  /* Firefox 19+ */
	color:#fff !important;
}
:-ms-input-placeholder {  
	color:#fff !important;
}

@media(max-width:940px)
{
	.phpkida-main {width: 50%;}
}

@media(max-width:550px)
{
	.phpkida-main {width: 90%; padding: 5%;}
	input.ggg {width: 90%; padding: 15px 4%;}
}