<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
            type="text/javascript"></script>


</head>
<body>
<style>
    html {
        height: 100%;
    }

    body {
        background: -webkit-linear-gradient(rgba(5, 610, 255, 0.4), rgba(135, 60, 255, 0.0) 80%),
        -webkit-linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(54, 166, 255, 0.9) 76%);
    }

    .cf:before, .cf:after {
        content: " ";
        display: table;
    }

    .cf:after {
        clear: both;
    }

    .cf {
        *zoom: 1;
    }

    .menu {
        list-style: none;
        margin: 30px auto;
        width: 800px;
        width: -moz-fit-content;
        width: fit-content;
    }

    .menu > li {
        background: #1254B5;
        float: left;
        position: relative;
        -webkit-transform: skewX(25deg);
    }

    .menu a {
        display: block;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Arial, Helvetica;
        font-size: 14px;
    }

    .menu li:hover {
        background: #65f0ea;
    }

    .menu > li > a {
        -webkit-transform: skewX(-25deg);
        padding: 1em 2em;
    }

    /* Dropdown */
    .submenu {
        position: absolute;
        width: 200px;
        left: 50%;
        margin-left: -100px;
        -webkit-transform: skewX(-25deg);
        -webkit-transform-origin: left top;
    }

    .submenu li {
        background-color: #1254B5;
        position: relative;
        overflow: hidden;
    }

    .submenu > li > a {
        padding: 1em 2em;
    }

    .submenu > li::after {
        content: '';
        position: absolute;
        top: -125%;
        height: 100%;
        width: 100%;
        box-shadow: 0 0 50px rgba(0, 23, 255, 0.9);
    }

    /* Odd stuff */
    .submenu > li:nth-child(odd) {
        -webkit-transform: skewX(-25deg) translateX(0);
    }

    .submenu > li:nth-child(odd) > a {
        -webkit-transform: skewX(25deg);
    }

    .submenu > li:nth-child(odd)::after {
        right: -50%;
        -webkit-transform: skewX(-25deg) rotate(3deg);
    }

    /* Even stuff */
    .submenu > li:nth-child(even) {
        -webkit-transform: skewX(25deg) translateX(0);
    }

    .submenu > li:nth-child(even) > a {
        -webkit-transform: skewX(-25deg);
    }

    .submenu > li:nth-child(even)::after {
        left: -50%;
        -webkit-transform: skewX(25deg) rotate(3deg);
    }

    /* Show dropdown */
    .submenu, .submenu li {
        opacity: 0;
        visibility: hidden;
    }

    .submenu li {
        transition: .2s ease -webkit-transform;
    }

    .menu > li:hover .submenu, .menu > li:hover .submenu li {
        opacity: 1;
        visibility: visible;
    }

    .menu > li:hover .submenu li:nth-child(even) {
        -webkit-transform: skewX(25deg) translateX(15px);
    }

    .menu > li:hover .submenu li:nth-child(odd) {
        -webkit-transform: skewX(-25deg) translateX(-15px);
    }


    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: 10%;
        margin-right: 15%;

    }

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #3854af;
        color: #f0fffa;
    }

    #customers tr {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        color: #000000;
    }

    #customers a {
        display: block;
        color: #142cff;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Arial, Helvetica;
        font-size: 14px;
    }


</style>
<!-- partial:index.partial.html -->
<ul class="menu cf">
    <li>
        <a href="/users/home">Home</a>
    </li>
    <li>
        <a href="/users/myAccount">MyAccount</a>
    </li>
    <li>
        <a href="/tests/allTests">Tests</a>
    </li>
    <li>
        <a href="/results/all">Result</a>
    </li>
    <li>
        <a href="/logout">Log Out</a>
    </li>
</ul>
<div>
    <table id="customers">
        <tr>
            <th>Test</th>
            <th>Result</th>
        </tr>
        <tr th:each="r:${results}">
            <td th:text="${r.test.title}"></td>
            <td th:text="${r.result}"></td>
        </tr>
    </table>
</div>

</body>
</html>